.mobile-planet-toggle-container {
    font-family: League Spartan;
    text-transform: uppercase;
    font-size: .8rem;
    color: var(--light-grey);
    padding: 1rem;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;

}

@media screen and (min-width:768px) {
    .mobile-planet-toggle-container {
        display: none;
    }
}



.mobile-planet-toggle {
    cursor: pointer;
}