.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}


@media screen and (min-width:768px) {
    .navigation-container {
        flex-direction: column;
    }
}


@media screen and (min-width:1200px) {
    .navigation-container {
        flex-direction: row;
    }
}


.hamburger {
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .hamburger {
        display: none;

    }
}


.logo {
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 2px;
    min-width: 11.1rem;
    font-size: 1.7rem;

}

@media screen and (min-width:768px) {
    .logo {
        margin-bottom: 2rem;
        text-align: center;
    }
}


@media screen and (min-width:1200px) {
    .logo {
        margin: 0;
    }
}


.desktop-navigation-container {
    display: none;
}


.desktop-navigation {
    list-style: none;
    display: none;
}



@media screen and (min-width:768px) {
    .desktop-navigation-container {
        display: flex;
        justify-content: space-around;
        max-width: 41rem;
    }

    .desktop-navigation {
        display: flex;
    }
}


.desktop-nav-link {
    margin: 0 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--white);
}

@media screen and (min-width:768px) {
    .desktop-nav-link {
        font-size: .68rem;
    }
}