/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300;500&family=League+Spartan:wght@300;500&display=swap');


/* Colors */
:root {
  --white: #fff;
  --dark-blue: #070724;
  --grey: #38384f;
  --light-grey: #838391;
  --baby-blue: #419ebb;
  --yellow: #eda249;
  --purple: #6f2ed6;
  --light-red: #d14c32;
  --red: #d83a34;
  --orange: #cd5120;
  --turquiose: #1ec2a4;
  --blue: #2d68f0;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../src/Components/Logos/background-stars.svg);
  background-color: var(--dark-blue);
  font-family: "Antonio", sans-serif;
  font-family: "League Spartan", sans-serif;
  color: var(--white);
  overflow: auto;
  height: 100%;
}




img {
  max-width: 100%;
}


.max-width-container {
  max-width: 85%;
  margin: 0 auto;
}

.border-bottom {
  border-bottom: 1px solid var(--light-grey);
  padding-bottom: 1rem;
}

.planet-link {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
}

.full-border {
  border: 1px solid var(--grey);
  min-width: 15rem;
  margin: .6rem 0;
  padding: .2rem;
}

.stat-description {
  text-transform: uppercase;
  font-size: .8rem;
  color: var(--light-grey);
}


@media screen and (max-width:768px) {
  .purple {
    border-bottom: 4px solid var(--purple);
  }


  .light-grey {
    border-bottom: 4px solid var(--light-grey);
  }

  .orange {
    border-bottom: 4px solid var(--orange);
  }

  .baby-blue {
    border-bottom: 4px solid var(--baby-blue);
  }

  .yellow {
    border-bottom: 4px solid var(--yellow);
  }

  .turquiose {
    border-bottom: 4px solid var(--turquiose);
  }

  .light-red {
    border-bottom: 4px solid var(--light-red);
  }
}



@media screen and (min-width: 768px) {
  .purple {
    background-color: var(--purple);
  }

  .light-grey {
    background-color: var(--light-grey);
  }

  .orange {
    background-color: var(--orange);
  }

  .baby-blue {
    background-color: var(--baby-blue);
  }

  .yellow {
    background-color: var(--yellow);
  }

  .turquiose {
    background-color: var(--turquiose);
  }

  .light-red {
    background-color: var(--light-red);
  }
}