.planet-detail-container {
    /* border: 1px solid var(--white); */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    min-height: 26rem;
    padding: 1.5rem 1rem;
    font-family: League Spartan;
    min-height: 85vh;
}

.planet-img {
    max-width: 7rem;
}


.planet-info-container {
    font-family: League Spartan;
    max-width: 20rem;
    margin: 2rem auto 2rem;
}

.planet-name {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 100;
}

.planet-info {
    line-height: 1.5;
    font-size: .85rem;
    margin-top: 1rem;
}

.planet-source {
    margin-top: 2rem;
    color: var(--light-grey);
    display: flex;
    justify-content: space-between;
    margin: 2rem auto 1rem;
    max-width: 8.6rem;
}

.full-border {
    border: 1px solid var(--grey);
    min-width: 15rem;
    margin: .6rem 0;
    padding: .2rem;
}

.stat-description {
    text-transform: uppercase;
    font-size: .8rem;
    color: var(--light-grey);
}

.planet-stats {
    padding: .3rem 1rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* min-height: 3rem; */
}