/* Planet Detail Container */

.planet-detail-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    min-height: 26rem;
    padding: 1.5rem 1rem;
    min-height: 85vh;
}

@media screen and (min-width:768px) {
    .planet-detail-container {
        padding: 1.5rem 2rem;
        max-width: 50rem;
        text-align: left;
    }
}

@media screen and (min-width:1200px) {
    .planet-detail-container {
        max-width: 70rem;
        padding-top: 5rem;
    }
}


/* Desktop Description Container */

@media screen and (min-width:1200px) {
    .desktop-description-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

/* Planet Info Container */