/* Planet Detail Container */

.planet-detail-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    min-height: 26rem;
    padding: 1.5rem 1rem;
    min-height: 85vh;
}

@media screen and (min-width:768px) {
    .planet-detail-container {
        padding: 1.5rem 2rem;
        max-width: 50rem;
        text-align: left;
    }
}

@media screen and (min-width:1200px) {
    .planet-detail-container {
        max-width: 70rem;
    }
}


/* Desktop Description Container */

@media screen and (min-width:1200px) {
    .desktop-description-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}



/* Planet Image Container */

@media screen and (min-width:768px) {
    .planet-img-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}

.planet-img {
    max-width: 7rem;
}

@media screen and (min-width:1200px) {
    .planet-img {
        max-width: 13rem;
    }
}

/* Planet Info Container */

.planet-info-container {
    font-family: League Spartan;
    max-width: 20rem;
    margin: 2rem auto 2rem;
}

@media screen and (min-width:768px) {
    .planet-info-container {
        margin: 2rem 0;
    }
}


/* Desktop Planet Description */

.desktop-planet-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width:1200px) {
    .desktop-planet-description {
        flex-direction: column;
    }
}

.planet-name {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 100;
}

.planet-info {
    line-height: 1.5;
    font-size: .85rem;
    margin-top: 1rem;
}

.planet-source {
    margin-top: 2rem;
    color: var(--light-grey);
    display: flex;
    justify-content: space-between;
    margin: 2rem auto 1rem;
    max-width: 8.6rem;
}

@media screen and (min-width:768px) {
    .planet-source {
        margin: 1rem 0;

    }
}

.full-border {
    border: 1px solid var(--grey);
    min-width: 15rem;
    margin: .6rem 0;
    padding: .2rem;
}

.stat-description {
    text-transform: uppercase;
    font-size: .8rem;
    color: var(--light-grey);
}




/* Planet Stats Container */

@media screen and (min-width:768px) {
    .planet-stats-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-transform: uppercase;
    }
}


.planet-stats {
    padding: .3rem 1rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width:768px) {
    .planet-stats {
        min-width: 10.25rem;
        min-height: 5rem;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }
}

@media screen and (min-width:1200px) {
    .planet-stats {
        min-width: 15rem;
        min-height: 8rem;

    }
}

/* Desktop Planet Content Toggle  */


@media screen and (max-width:767px) {
    .desktop-planet-content-toggle {
        display: none;
    }
}


.desktop-planet-toggle {
    text-transform: uppercase;
    min-height: 2.5rem;
    min-width: 17rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

@media screen and (min-width:1200px) {
    .desktop-planet-toggle {
        min-width: 20rem;
    }
}